(
  selected_tab: Some("White"),
  command_fg: Some("White"),
  selection_bg: Some("#363a4f"),
  selection_fg: Some("#f4dbd6"),
  use_selection_fg: Some(true),
  cmdbar_bg: Some("#363a4f"),
  disabled_fg: Some("#cad3f5"),
  diff_line_add: Some("#a6da95"),
  diff_line_delete: Some("#ed8796"),
  diff_file_added: Some("#a6da95"),
  diff_file_removed: Some("#ed8796"),
  diff_file_moved: Some("#f5bde6"),
  diff_file_modified: Some("#eed49f"),
  commit_hash: Some("#8aadf4"),
  commit_time: Some("#eed49f"),
  commit_author: Some("#a6da95"),
  danger_fg: Some("#ed8796"),
  push_gauge_bg: Some("#8aadf4"),
  push_gauge_fg: Some("Black"),
  tag_fg: Some("#f5bde6"),
  branch_fg: Some("#eed49f"),
  line_break: Some("#cad3f5"),
  block_title_focused: Some("White"),
)
